@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --flikk-lime: #ccff00;
  --flikk-purple: #a87ff3;
  --flikk-dark: #121212;
  --flikk-card: #1e1e1e;
  --flikk-text: #ffffff;
  --flikk-text-muted: #b3b3b3;
}

.dark {
  --flikk-lime: #ccff00;
  --flikk-purple: #a87ff3;
  --flikk-dark: #121212;
  --flikk-card: #1e1e1e;
  --flikk-text: #ffffff;
  --flikk-text-muted: #b3b3b3;
}
